<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
    <title>SET Talents</title>
</head>
<body>
    <section>
        <div class="parallax-container">
            <img style="height: 850px;" width="100%" class="responsive-img"src="Header.JPG" alt="Header.JPG">
        </div>
    </section>

    <nav class="black nav-extended">
        <br>
        <div class="nav-wrapper">
          <h3 class="valign-center center brand-logo" style="font-family: 'Arial Black', Gadget, sans-serif;letter-spacing: 6px;">SET TALENTS</h3>
            <ul class="right">
          </ul>
        </div>
        <br>
        <div class="divider grey darken-3"></div>
        <!--<div class="center nav-content">-->
          <!--<ul class="tabs tabs-transparent">-->
            <!--&lt;!&ndash;<li class="tab"><a href="#">S|T</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="tab"><a class="active" href="#test2">ABOUT US</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="tab disabled"><a href="#test3">NEWS</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="tab"><a href="#test4">AGENCIES</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="tab"><a href="#test4">TALENTS</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="tab"><a href="#test4">MODELS</a></li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->
    </nav>

    <section>
        <div class="container">
            <br>
            <div class="row center">
                <h3 class="col s12" style="Arial, Helvetica, sans-serif">S|T</h3>
            </div>
            <div class="row center">
                <h4 class="col s6">What’s to come</h4>
            </div>
            <div class="row center">
                <p class="col s6">Set Talents is a site to revolutionise the entertainment industry. The focus of this web application and soon to be mobile app is to simplify industry agencies and talent management. Basically giving a transparent and fluid contact platform for agencies, talents and clients to send and receive inquires.</p>
                <img width="45%" class="responsive-img"src="Photo3.JPG" alt="Header.JPG">
            </div>
        </div>
        <div class="container">
            <div class="row center">
                <h4 class="col s6">Agencies</h4>
            </div>
            <div class="row center">
                <p class="col s6">Agencies will be able to have their agency be seen locally and internationally. This will allow an easier process of sending models abroad and having you agency visible to international agencies to send models to your location.</p>
                <img width="45%" class="responsive-img"src="Photo5.JPG" alt="Header.JPG">
            </div>
        </div>
        <div class="container">
            <div class="row center">
                <h4 class="col s6">Talents</h4>
            </div>
            <div class="row center">
                <p class="col s6">Models will be able to have their portfolio, snaps and reel all under their profile making it their responsibility to keep it up to date and quicker for agencies to view.</p>
                <img width="45%" class="responsive-img"src="Photo2.JPG" alt="Header.JPG">
            </div>
        </div>
        <div class="container">
            <div class="row center">
                <h4 class="col s6">Clients</h4>
            </div>
            <div class="row center">
                <p class="col s6">Clients will have the ability to register for the app and have full access to the model roster of who is in their local area and the agency they are with to directly request. Clients will also have the ability to send inquires for castings and jobs out directly to agencies, allowing agencies to directly forward it to their models.</p>
                <img width="45%" class="responsive-img"src="Photo1.JPG" alt="Header.JPG">
            </div>
        </div>
    </section>

    <br><br>

    <section>
        <div class="container">
            <div class="row center">
                <h5 class="col s12">Sign up for early access updates!</h5>
            </div>
            <div class="row center">
                <form action="{{ url_for('index') }}" method="post">
                    <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <input type="submit" class="btn grey darken-2">
                </form>
            </div>
        </div>
    </section>

    <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col s12">
                <h6 class="grey-text center">COPYRIGHT © 2018 SET TALENTS. ALL RIGHTS RESERVED | FOTOGRAFIE BY CATCH THEMES</h6>
                <ul>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            </div>
          </div>
        </footer>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>